Repository Kernel360/KFE3-bootup-SAJOYO: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,jsx,ts,tsx,json,md}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}

setting:Prettier를 사용한 클래스 정렬
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
Due: format, lint

setting:shadcn 설ㅊ치
  components.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/lib/utils.ts
Due: format, lint

setting:shadcn 컴포넌트 세팅
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
Due: format, lint

setting:.github template 세팅
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: format

setting:initialization
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .prettierrc
  README.md
  components.json
  eslint.config.mjs
  lefthook.yml
  next.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/lib/utils.ts
  tsconfig.json
Due: format, lint

setting:monorepo set
  .gitignore
  package.json
  packages/docs/package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

setting:storybook 설정
  .npmrc
  .storybook/main.ts
  .storybook/preview.ts
  README.md
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/Button/Button.stories.tsx
  components/Button/Button.tsx
  next.config.mjs
  package-lock.json
  package.json
  packages/docs/package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  tsconfig.json
Due: format, lint

feat: textInput 생
  components/Input/textInput.stories.tsx
  components/Input/textInput.tsx
  package.json
Due: format, lint

design: 디자인 시스템 추가
  app/globals.css
Due: none

feat: Button 컴포넌트 생성 및 storybook 문서화
  components/Button/Button.stories.tsx
  components/Button/Button.tsx
Due: format, lint

docs: Readme 수정
  README.md
Due: format

setting: issue & pr template
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/PULL_REQUEST_TEMPLATE.md
  ISSUE_TEMPLATE/bug.yml
  ISSUE_TEMPLATE/docs.yml
  ISSUE_TEMPLATE/feature.yml
  ISSUE_TEMPLATE/refactor.yml
  PULL_REQUEST_TEMPLATE.md
Due: format

feat:Button 컴포넌트 생성 및 문서화
  example/Button/Button.stories.tsx
  example/Button/Button.tsx
Due: format, lint

feat:IconTextButton으로 변경 (#13)
  components/example/Button.stories.tsx
  components/example/IconTextButton.tsx
Due: format, lint

feat: Modal 컴포넌트 생성
  components/Modal/Modal.tsx
Due: format, lint

chore: 주석제거
  components/Modal/Modal.tsx
Due: format, lint

feat: Modal 스토리북 생성
  components/Modal/Modal.stories.tsx
Due: format, lint

feat: Button 컴포넌트 재구성
  components/Button/Button.tsx
Due: format, lint

feat: Button storybook 재구성
  components/Button/Button.stories.tsx
Due: format, lint

setting: react-icon 설치
  package-lock.json
  package.json
Due: format

chore: 스토리북 title경로 변경
  components/Input/textInput.stories.tsx
Due: format, lint

chore: 스토리북 title경로 변경
  components/IconTextButton/IconTextButton.stories.tsx
  components/IconTextButton/IconTextButton.tsx
Due: format, lint

remove: 파일 삭제
  components/Modal/Modal.stories.tsx
  components/Modal/Modal.tsx
  components/example/Button.stories.tsx
  components/example/IconTextButton.tsx
Due: format, lint

feat: 모달 컴포넌트 재생성 및 모달 스토리북 생성
  components/Modal/Modal.stories.tsx
  components/Modal/Modal.tsx
Due: format, lint
